html,body{
  height:100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Lato', sans-serif;
}

h1{
  font-size: 50px;
  text-transform: uppercase;
  padding-top: 100px;
}

h2{
  font-size: 35px;
}

h3{
  font-size: 24px;
}

p{
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a{
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

a:hover{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

a:focus{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

hr{
  width: 55px;
  height: 2px;
}

.spinner-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}

.spinner {
   top: 300px;
   position: relative;
   display: block;
   margin: auto;
   padding: 0;
   width: 100px;
   height: 15px;
   text-align: center;
}

.spinner i {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  width: 5px;
  height: 15px;
  border-radius: 2px;
  border: solid #666;
  border-width: 0 1px 1px 0;
  background: #333;
  animation: tilt infinite 5s cubic-bezier(0.955, -0.010, 1.000, 1.000);
  transform-origin: 100% 100%;
}

.spinner i::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  display: block;
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 0 2px rgba(0,0,0,.3);
  animation: stretch infinite 5s cubic-bezier(0.955, -0.010, 1.000, 1.000);
  opacity: 0;
  transform-origin: 0% 0%;
}

.spinner i:nth-child(2),
.spinner i:nth-child(2)::before {
  animation-delay: .3s;
}

.spinner i:nth-child(3),
.spinner i:nth-child(3)::before {
  animation-delay: .6s;
}

.spinner i:nth-child(4),
.spinner i:nth-child(4)::before {
  animation-delay: .9s;
}

.spinner i:nth-child(5),
.spinner i:nth-child(5)::before {
  animation-delay: 1.2s;
}

.spinner i:last-of-type {
  animation-name: tilt-last;
}

.spinner i:last-of-type::before {
  animation-name: stretch-last;
}

@keyframes tilt {
  10% { transform: rotate(70deg) }
  60% { transform: rotate(70deg) }
  70% { transform: rotate( 0deg) }
}

@keyframes tilt-last {
  10% { transform: rotate(90deg) }
  60% { transform: rotate(90deg) }
  70% { transform: rotate( 0deg) }
}

@keyframes stretch {
  10% { transform: rotate(-70deg); width: 10px; opacity: 1; left: 0px; bottom: -1px; }
  60% { transform: rotate(-70deg); width: 10px; opacity: 1; }
  70% { width: 5px; transform: rotate(0deg); opacity: 0; }
}

@keyframes stretch-last {
  10% { transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; left: 3px; bottom: -1px; }
  60% { transform: rotate(-90deg); width: 10px; height: 2px; opacity: .5; }
  70% { transform: rotate(0deg); width: 5px; height: 5px;opacity: 0;}
}

.centred-wrapper{
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 0;
}

.parallax {
  background-image: url("img/header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.navbar{
  transition: all 200ms ease-in-out;
}

.navbar a{
  color: rgba(255, 255, 255, 0.7) !important;
}

.navbar a:hover{
  color: rgba(255, 255, 255, 1) !important;
}

.nav-item{
  margin-left: 20px;
}

.nav-bg{
  background-color: rgba(51,51,51,0.8);
}

.navbar-toggler{
  cursor: pointer;
  transition: all 200ms ease-in-out;
  font-size: 1.3rem;
  top: 8px;
  border: none;
}

.navbar-toggler:focus{
  outline: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(img/burguer.svg);
}

.hero-section{
  position: relative;
  padding-bottom: 70px;
  display: block;
  overflow: hidden;
}

.hero-section p{
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
}

.hero-section hr{
  background-color: #F05F40;
  margin: 25px auto;
}

.buttons{
  background-color: #F05F40;
  height: 50px;
  width: 120px;
  padding: 12px 35px;
  border-radius: 24px;
  transition: all 200ms ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

.buttons-reversed{
  background-color: white;
  color: #333;
}

.buttons:hover{
  background-color: #ee4b28;
}

.buttons-reversed:hover{
  background-color: #eee;
  color: #333;
}

.orange-section{
  display: block;
  position: relative;
  background-color: #F05F40;
}

.orange-section h2{
  color: white;
}

.orange-section p{
  margin-bottom: 55px;
  color: rgba(255, 255, 255, 0.7);
}

.orange-section hr{
  background-color: rgba(255, 255, 255, 1);
}

.white-sections .content-wrapper{
  padding: 50px 0;
}

.white-sections .thumbnails i{
  position: relative;
  color: #F05F40;
  font-size: 55px;
  margin: 25px 0;
  opacity: 0;
}

@keyframes popUp{
  0%{
    opacity: 0;
    transform: scale(0) translateY(100px);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  80%{
    opacity: 1;
  }

  100%{
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.white-sections .thumbnails:nth-child(1) i.pop-up{
  animation: popUp 400ms ease-in-out forwards;
}

.white-sections .thumbnails:nth-child(2) i.pop-up{
  animation: popUp 400ms ease-in-out forwards 200ms;
}

.white-sections .thumbnails:nth-child(3) i.pop-up{
  animation: popUp 400ms ease-in-out forwards 400ms;
}

.white-sections .thumbnails:nth-child(4) i.pop-up{
  animation: popUp 400ms ease-in-out forwards 600ms;
}

.white-sections{
  color: #333;
}

.white-sections p{
  color: #777;
}

.white-sections hr{
  background-color: #F05F40;
  margin: 25px auto;
}

.dark-section{
  background-color: #222;
}

.dark-section .centred-wrapper{
  padding: 50px 0;
}

.dark-section h2{
  margin-bottom: 50px;
}

.parallax.two{
  background-image: url("img/mountains.jpeg");
  position: relative;
}

.white-sections.contact .thumbnails i{
  color: #333;
  font-size: 45px;
  margin: 10px 0;
}

.thumbnails .e-mail{
  color: #F05F40;
  display: block;
  transition: all 200ms ease-in-out;
}

.thumbnails .e-mail:hover{
  text-decoration: underline;
}

.white-sections.contact p{
  color: #333;
}

.projects-section .img-wrapper{
  padding: 0;
  cursor: pointer;
}

.img-wrapper img{
  width:100%;
}

.orange-layer{
  background-color: rgba(240,95,64,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 300ms ease-in-out;
  transform: rotateY(90deg);
}

.projects-section .img-wrapper:hover > .orange-layer{
  opacity: 1;
  transform: rotateY(0deg);
}

.orange-layer p{
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 10px #666;
}

.orange-layer p:first-child{
  margin-top: 19%;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(255,255,255,.7);
}

.orange-layer p:last-child{
  opacity: 1;
  font-size: 24px;
}

/*////////////LIGHTBOX/////////////////*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(11,11,11, .8);
}

.stop-scroll{
  overflow: hidden;
}

.mySlides img{
  -webkit-box-shadow:  0px 0px 4px 3px rgba(0,0,0,.3);
  -moz-box-shadow:  0px 0px 4px 3px rgba(0,0,0,.3);
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,.3);
  opacity: 0.3;
  animation: imgDown 500ms ease-in-out forwards;
  cursor: pointer;
}

@keyframes imgDown{
  0%{
    opacity: 0.3;
  }
  100%{
    opacity: 1;
  }
}

.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 90%;
  border: none;
}

.close {
  color: white;
  position: relative;
  font-size: 25px;
  float: right;
  text-shadow: none;
  transition: all 200ms ease-in-out;
  padding-bottom: 5px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.sliders-wrapper{
  width:50%;
  position:relative;
  margin:0 auto;
  display:block;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 200ms ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.arrow:hover {
  transform: translateY(-4px);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  display: block;
  width: 55px;
}

.footer .content-wrapper {
    padding: 50px 0;
}

.footer p{
  margin-bottom: 0;
}

.footer .icons {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
}

.icons i{
  transition: all 400ms;
}

.icons:hover i{
  color: #f7938c;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.terms a{
  margin: 0 5px;
  transition: all 300ms ease-in-out;
}

.terms a:hover{
  text-decoration: underline;
}

/*///////////Media Queries////////////////*/

@media (max-width: 992px) {
  .sliders-wrapper{
    width:70%;
  }
}

@media (max-width: 767px) {
  .nav-item:nth-child(1){
    margin-top: 20px;
  }
  .sliders-wrapper{
    width:100%;
  }
  .navbar{
    background-color: rgba(51,51,51,0.8);
  }
}

@media (max-width: 576px) {

  .centred-wrapper{
    padding: 50px 0;
  }

  h1{
    font-size: 39px;
    padding-top: 55px;
  }

  .hero-section{
    padding-bottom: 0;
  }

  .hero-section p{
    font-size: 17px;
    padding-bottom: 25px;
  }

  .modal{
    padding-top: 160px;
  }

  .arrow{
    top: 63%;
  }
}
