html,body{
  height:100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Lato', sans-serif;
}

h1{
  font-size: 50px;
  text-transform: uppercase;
}

h2{
  font-size: 35px;
}

h3{
  font-size: 24px;
}

p{
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a{
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

a:hover{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

a:focus{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

hr{
  width: 55px;
  height: 2px;
}

.centred-wrapper{
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 0;
}

.parallax {
  background-image: url("img/header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  transition: all 200ms ease-in-out;
}

.navbar a{
  color: rgba(255, 255, 255, 0.7) !important;
}

.navbar a:hover{
  color: rgba(255, 255, 255, 1) !important;
}

.nav-item{
  margin-left: 20px;
}

.nav-bg{
  background-color: rgba(51,51,51,0.8);
}

.navbar-toggler{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 200ms ease-in-out;
}

.navbar-toggler:hover{
  background-color: rgba(255, 255, 255, 0.6);
}

.navbar-toggler:focus{
  outline: none;
}

.hero-section{
  position: relative;
  /*background: url(img/header.jpg) no-repeat;*/
  /*background-size: cover;
  background-position: center;*/
  padding-top: 85px;
  padding-bottom: 70px;
  display: block;
}

.hero-section p{
  padding-bottom: 50px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
}

.hero-section hr{
  background-color: #F05F40;
  margin: 25px auto;
}

.buttons{
  background-color: #F05F40;
  height: 50px;
  width: 120px;
  padding: 15px 40px;
  border-radius: 24px;
  transition: all 200ms ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

.buttons-reversed{
  background-color: white;
  color: #333;
}

.buttons:hover{
  background-color: #ee4b28;
}

.buttons-reversed:hover{
  background-color: #eee;
  color: #333;
}

.orange-section{
  display: block;
  position: relative;
  background-color: #F05F40;
}

.orange-section h2{
  color: white;
}

.orange-section p{
  margin-bottom: 55px;
  color: rgba(255, 255, 255, 0.7);
}

.orange-section hr{
  background-color: rgba(255, 255, 255, 1);
}

.white-sections .content-wrapper{
  padding: 50px 0;
}

.white-sections .thumbnails i{
  position: relative;
  color: #F05F40;
  font-size: 55px;
  margin: 25px 0;
  opacity: 0;
}

@keyframes pop-up{
  0%{
    opacity: 0;
    transform: scale(0) translateY(120px);
  }

  80%{
    opacity: 1;
  }

  100%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

.white-sections .thumbnails:nth-child(1) i.pop-up{
  animation: pop-up 400ms ease-in-out forwards;
}

.white-sections .thumbnails:nth-child(2) i.pop-up{
  animation: pop-up 400ms ease-in-out forwards 200ms;
}

.white-sections .thumbnails:nth-child(3) i.pop-up{
  animation: pop-up 400ms ease-in-out forwards 400ms;
}

.white-sections .thumbnails:nth-child(4) i.pop-up{
  animation: pop-up 400ms ease-in-out forwards 600ms;
}

.white-sections{
  color: #333;
}

.white-sections p{
  color: #777;
}

.white-sections hr{
  background-color: #F05F40;
  margin: 25px auto;
}

.dark-section{
  background-color: #222;
}

.dark-section .centred-wrapper{
  padding: 50px 0;
}

.dark-section h2{
  margin-bottom: 50px;
}

.white-sections.contact .thumbnails i{
  color: #333;
  font-size: 45px;
  margin: 10px 0;
}

.thumbnails .e-mail{
  color: #F05F40;
  display: block;
  transition: all 200ms ease-in-out;
}

.thumbnails .e-mail:hover{
  text-decoration: underline;
}

.white-sections.contact p{
  color: #333;
}

.projects-section .img-wrapper{
  padding: 0;
  cursor: pointer;
}

.img-wrapper img{
  width: 100%;
}

.orange-layer{
  background-color: rgba(240,95,64,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 200ms ease-in-out;
  transform: rotateX(90deg);
}

.projects-section .img-wrapper:hover > .orange-layer{
  opacity: 1;
  transform: rotateX(0deg);
}

.orange-layer p{
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-shadow: 1px 1px 10px #666;
}

.orange-layer p:first-child{
  margin-top: 19%;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(255,255,255,.7);
}

.orange-layer p:last-child{
  opacity: 1;
  font-size: 24px;
}

@media (max-width: 770px) {
  .nav-item:nth-child(1){
    margin-top: 20px;
  }
}
